/*공통*/
#wrap{position:relative;clear:both; margin:10px; }
#contents{position:relative;clear:both;}


#wrap h1{color:#736357;line-height:40px;}
#wrap .c_text{font-size:12px;line-height:40px;}
#wrap .flatbtn{color:#8c6239;text-decoration:underline;}


#loginmodal{border:3px solid #705c3b;background:#fff;}
#loginmodal h2{color:#636363;font-size:24px;line-height:40px;}
#loginmodal .p_c_text{font-size:12px;line-height:24px;}
#loginmodal .login_line{margin:10px 0 0;height:80px;}
#loginmodal .box_in{float:left;margin:0 10px 0; }
#loginmodal input{width:220px;height:24px;display:block;margin:3px 36px 0;}
#loginmodal .btn_login{width:210px;height:50px;background:#BDBDBD;color:#e1e1e1;float:left;line-height:54px;text-align:center;margin-top: 16px;margin-left: 49px;}
#loginmodal .find_join{clear:both;margin:20px 0 0 10px;}

/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width: 350px;height:290px;  /*팝업창의 크기조절*/
  margin-top:100px;           /*팝업창 위아래 간격조절*/
  padding: 18px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}


