<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.muser.mybatis.mapper.RoomReviewMapper">
	<!-- 리뷰댓글 쓰기 -->
	<insert id="roomReviewInsert" parameterType="RoomReview">
		INSERT INTO ROOMREVIEW (rReviewNo,muId,stars,rReviewDesc,rvDate)
		VALUES(RRV_SEQ.NEXTVAL,#{muId},#{stars},#{rReviewDesc},SYSDATE)
	</insert>
	
	<!-- 리뷰리스트 -->
	<select id="roomReviewList" resultType="RoomReview">
		SELECT * FROM ROOMREVIEW ORDER BY rvDate DESC
	</select>
	
	<!-- 리뷰 수정하기 -->
	<update id="roomUpdateReview" parameterType="RoomReview">
		UPDATE ROOMREVIEW SET rReviewDesc=#{rReviewDesc}, rvDate=SYSDATE WHERE rReviewNo=#{rReviewNo}
	</update>
	
	<!-- 리뷰 삭제하기 -->
	<delete id="roomDeleteReview" parameterType="int">
		DELETE FROM ROOMREVIEW WHERE rReviewNo=#{rReviewNo}
	</delete>
</mapper>